.txit-brown{
    color: brown;
}
.txit-blue{
    color: blue;
}
.txit-gray{
    color: gray;
}
.txit-PowderBlue{
    background-color: PowderBlue;
}
.txit-Indigo{
    color: indigo;
}
span{
    border: 2px dotted red;
}