.deta1,.deta2{
    margin: 20px;
    background-color: #87CEEB;
}
.up,.under{
    display: flex;
    justify-content: space-evenly;
}
.img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.deta1,.deta2{
    width: 25%;
    text-align: center;
}
h1{
    text-align: center;
}
a{
    background-color: #7FFFD4;
    display: block;
    width: 80%;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 10px;
    text-decoration: none;
    font-size: 15px;
}
