span{
    background-color: 	#FF4500;
    border-radius: 5px;
    font-size: 10px;
    color: #F8F8FF;
}
div{
    margin: 10px 10px;
    color: #F8F8FF;
}
body{
    background-color: cadetblue;
}
p{
    color: #F8F8FF;
}
