.hissu{
    background-color: 	#FF4500;
    border-radius: 3px;
    font-size: 10px;
    color: #F8F8FF;
}
th{
    text-align: left;
    vertical-align: top;
    color: #F8F8FF;
    background-color: #20B2AA;
}
td{
    background-color: #008080;
    color: #F8F8FF;
}
body{
    background-color: #66CDAA;
}
p{
    color: #F8F8FF;
}
span{
    font-size: 10px;
}
table th,td{
    font-size: 15px;
    padding: 10px;
}
